# keep content and config as they are
content/*
public/content/
public/content/*

# git and project settings
.git
.buildpath
.metadata
.project
.settings
.idea

# security settings
*.htaccess

# cache & logs
*.log
*.bak

# VIM 
*.swp
