# keep content and config as they are
content/*
public/content/
public/content/*

# git and project settings
.git
.buildpath
.metadata
.project
.settings
.idea

# cache & logs
*.log
*.bak

# VIM 
*.swp

# file contained in folder on OSX
.DS_Store
