# keep content and config as they are
content/*
config/*.ini

# git and project settings
.git
.buildpath
.metadata
.project
.settings

# security settings
*.htaccess

# cache & logs
*.log
*.bak

# VIM 
*.swp
