@CHARSET "UTF-8";

/* SITEMAP CSS
    -------------------------------------------------- */
.sitemap {
	text-decoration: none;
	font-size: 9pt;
	margin-bottom: 32px;
}

.sitemap p {
	margin-bottom: 4px;
}

.sitemap ul {
	list-style-type: none;
	margin: 0px;
	padding: 8px;
}


.sitemap-top-level {
	float: left;
}

.sitemap-top-level p {
	font-weight: bold;
}

.sitemap-sub-level {
	margin: 8px 16px 16px 16px
}

/* RESPONSIVE CSS
    -------------------------------------------------- */
@media ( max-width : 979px) {
	.sitemap {
		font-size: 8pt;
	}
	.sitemap-sub-level {
		margin: 4px 8px 8px 8px
	}
}

@media ( max-width : 767px) {
	.sitemap {
		font-size: 9pt;
	}
	.sitemap-sub-level {
		margin: 8px 16px 16px 16px
	}
	
	.sitemap-top-level {
	float: none;
}
	
}