[general]
; Page name (shown on the left in the navigation)
page_name = "SampleBlog"

[head]
; Title displayed in the browser
title = "SampleBlog"
; Icon displayed in the browser
favicon = "img/favicon.png"

; Meta information for search engines etc. 
; These information will be included in every file if not defined otherwise
meta.author = "phgamper"
meta.copyright = "Philipp Gamper"
meta.description = "Sample project to show the capabilities of the MarkdownBlog"
meta.keywords = "markdown,sample,blog"

[footer]
; Content displayed in the footer
legal_notice = "maintained by phgamper | phgamper [at] gmail.com"
