; configuration of the HTML head 
[head]
title = "SampleBlog"
favicon = "public/img/favicon.png"
	
; html meta tags
meta.author = "phgamper"
meta.copyright = "Philipp Gamper"
meta.description = "README.md of MarkdownBlog"
meta.keywords = "markdown,readme"
meta.robots = ""
meta.viewport = "width=device-width, initial-scale=1.0"


; footer configuration
[footer]
legal_notice = "maintained by phgamper | phgamper [at] gmail.com"

; further configuration
[general]
; name of the shown on the left in the navigation
page_name = "SampleBlog"
; enable / disable syntax highlighting
highlight = true
; style sheet defining syntax highlighting scheme
scheme = "okaidia.css"